<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ServerType" value="Normal" />
    <add key="ServerHost" value="localhost" />
    <add key="ServerDb" value="ecshelldev" />
    <add key="AddNotificationEmail" value="noval.agung@eaciit.com;" />


    <add key="SMTP_Host_Default" value="172.29.158.88"/>
    <add key="SMTP_Port_Default" value="25"/>
    <add key="SMTP_From_Default" value="weis@shellrtoc.com"/>
    <add key="SMTP_UserName_Default" value=""/>
    <add key="SMTP_Password_Default" value=""/>
    <add key="SMTP_UseSSL_Default" value="False"/>

    <add key="Proxy_Host_Default" value="shellrtoc.com"/>
    <add key="Proxy_Port_Default" value="5901"/>

    <!--<add key="License" value="C:\Users\Yoga\Documents\EACIIT Project\Shell\Web\WEISHealthCheck\bin\Debug\License" />-->
    <add key="License" value="F:\WEIS\HealthCheck\License" />


    <add key="SMTP_Host_eaciit" value="smtp.office365.com"/>
    <add key="SMTP_Port_eaciit" value="587"/>
    <add key="SMTP_From_eaciit" value="mailer@eaciit.com"/>
    <add key="SMTP_UserName_eaciit" value="mailer@eaciit.com"/>
    <add key="SMTP_Password_eaciit" value="Ruka6309"/>
    <add key="SMTP_UseSSL_eaciit" value="True"/>
  </appSettings>
</configuration>