<div style="margin:10px auto;" class="form-horizontal">
    <div class="row" style="width:1000px;margin:0px auto">
        <div class="form-group" style="border-top:solid 1px #888;">
            <div class="col-sm-10 col-sm-offset-2" style="text-align:left">
                <label class="col-sm-4" style="border-right:solid 1px #888">AFE</label>
                <label class="col-sm-4" style="border-right:solid 1px #888">Previous LE</label>
                <label class="col-sm-4" style="border-right:solid 1px #888">LE</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:solid 1px #888;">
            <div class="col-sm-10 col-sm-offset-2" style="text-align:left">
                <label class="col-sm-2">Days</label>
                <label class="col-sm-2" style="border-right:solid 1px #888">Cost</label>
                <label class="col-sm-2">Days</label>
                <label class="col-sm-2" style="border-right:solid 1px #888">Cost</label>
                <label class="col-sm-2">Days</label>
                <label class="col-sm-2" style="border-right:solid 1px #888">Cost</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Trouble Free</label>
            <div class="col-sm-10">
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Trouble</label>
            <div class="col-sm-10">
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Contingency</label>
            <div class="col-sm-10">
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Escalation / Inflation</label>
            <div class="col-sm-10">
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">CSO</label>
            <div class="col-sm-10">
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" data-bind="enable:true" />
                </div>
            </div>
        </div>
        <div class="form-group" style="border-top:solid 1px #888">
            <label class="col-sm-2">Total</label>
            <div class="col-sm-10">
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" disabled />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="full align_right" data-bind="enable:false" />
                </div>
                <div class="col-sm-2" style="border-right:solid 1px #888">
                    <input type="text" class="full align_right" data-bind="enable:false" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div style="margin-right:10px">
                <div class="form-group" style="border-bottom:solid 1px #888;border-bottom:solid 1px #888;margin-top:20px">
                    <label class="col-sm-12" style="text-align:center">Supplement Information</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Last 7 Days</label>
                    <div class="col-sm-10">
                        <input type="checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Days</label>
                    <div class="col-sm-4">
                        <input type="text" style="width:150px" />
                    </div>
                    <label class="col-sm-2">Cost</label>
                    <div class="col-sm-4">
                        <input type="text" style="width:150px" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Reason</label>
                    <div class="col-sm-10">
                        <textarea style="width:100%;height:60px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="margin-right:10px">
                <div class="form-group" style="border-bottom:solid 1px #888;margin-top:20px">
                    <label class="col-sm-12" style="text-align:center">Performance Improvement Plan</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" style="text-align:left">Theme</label>
                    <label class="col-sm-2" style="text-align:left">Realized</label>
                    <label class="col-sm-4">Cost</label>
                    <label class="col-sm-4">Days</label>
                </div>
                <div class="form-group" style="border-bottom:solid 1px #888">
                    <label class="col-sm-2 col-sm-offset-4">Plan</label>
                    <label class="col-sm-2">Actual</label>
                    <label class="col-sm-2">Plan</label>
                    <label class="col-sm-2">Actual</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Element 1</label>
                    <div class="col-sm-2"><input type="checkbox" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Element 2</label>
                    <div class="col-sm-2"><input type="checkbox" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                    <div class="col-sm-2"><input type="text" style="width:100%" class="align_right" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
