<div style="width:100%">
    <center>
        <h4>Please wait while processing your request</h4>
        <img src="~/Content/images/CircularProgressAnimation.gif" loop=infinite />
    </center>
</div>
