@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ecis_app_container" style="margin-top:5px;">
</div>

<script>
    /*
    loadApp(
		model.AppHomeButtons()[0].PageId(), 
		model.AppHomeButtons()[0].Url(),
		{});
    model.PageId("Dashboard");
    */
</script>
