@using ECIS.Core;
@using ECIS.Client.WEIS;
@using MongoDB.Driver;
@using MongoDB.Driver.Builders;
@using Newtonsoft.Json;

<script>
    model.capitalizedmodel = ko.observable({
        Country: ko.observable(),
    });
    model.Country = ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(
DataHelper.Populate("WEISMacroEconomics").Select(d => d.GetString("Country")).OrderBy(d => d)
   )));
    model.selectedcountry = ko.observable("");
</script>

<div class="col-md-12" data-bind="visible: Country">
    <div class="col-md-3">
        <label>Country </label>
    </div>
    <div class="col-md-9">
        @*<select class="Country" data-model="Country" data-placeholder="Select Contry ..."></select>*@
        <input id="Country" style="width:200px" data-bind="value:Country" />
        <button class="btn-sm btn btn-custom btn-primary" onclick="model.reloadData()">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Country").kendoDropDownList({ dataSource: model.Country() });
    });
</script>