<div class="col-md-12" style="overflow-x: auto; overflow-y: auto;">
    <div id="gridactivitymanager"></div>
    <div style="text-align:right;margin-top:10px">
        <button class="btn btn-sm btn-primary" onclick="model.bpmodel().expenseProfile()">FY Expense Profile</button>
    </div>
</div>