<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ServerType" value="Normal"/>

      <add key="License" value="W:\Batch\WEISHealthCheck\bin\Debug\License\" />
      
      <!--<add key="ServerHost" value="localhost:27888"/>
      <add key="ServerDb" value="ecshell"/>-->
      <add key="ServerHost" value="localhost:27017"/>
      <add key="ServerDb" value="ecshelldev"/>

      <add key="HealthCheckDataPath" value="D:\HealthCheck\"/>
      <add key="HealthCheckReportPath" value="D:\HealthCheck\"/> 
      <!--Default Config if there is no config file under HealthCheckDataPath-->
      <add key="DB_ServerHost" value="localhost"/>
      <add key="DB_ServerDB" value="ecshelldev"/>
      <add key="DB_Port" value="27017"/>
      <add key="DB_UserName" value=""/>
      <add key="DB_Password" value=""/>
      <add key="AuthenticationDatabase" value=""/>

      
      <add key="Proxy_Host" value=""/>
      <add key="Proxy_Port" value="0"/>

      <add key="OraServerShell" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=tcp)(HOST=138.57.149.67)(PORT=1648)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=owsh155d)));User Id=DSDQ_INTERFACE;Password=DSDQ;" />

      <add key="SMTP_Host" value="smtp.office365.com"/>
      <add key="SMTP_UserName" value="smtp.office365.com"/>
      <add key="SMTP_Password" value="Ruka6309"/>
      <add key="SMTP_From" value="smtp.office365.com"/>
      <add key="SMTP_To" value="yoga.bangkit@eaciit.com"/>
      <add key="SMTP_Subject" value="Healthy Check Testing"/>
      <add key="SMTP_Port" value="587"/>
      <add key="SMTP_TLS" value="true"/>
      <add key="SMTP_Message" value="Test"/>

      <add key="SMTP_Host_Default" value="smtp.office365.com"/>
      <add key="SMTP_Port_Default" value="587"/>
      <add key="SMTP_From_Default" value="mailer@eaciit.com"/>
      <add key="SMTP_UserName_Default" value="mailer@eaciit.com"/>
      <add key="SMTP_Password_Default" value="Ruka6309"/>
      <add key="SMTP_UseSSL_Default" value="True"/>
      
      <add key="StorageToCheck" value="C"/>
      <!--<add key="WebAppLocation" value="C:\Users\Yoga\Documents\EACIIT Project\Shell\Web\WEISP01"/>-->
      <add key="WebAppLocation" value="F:\WEIS\WEISP01"/>
      <add key="SummaryTemplate" value="F:\WEIS\HealthCheck\SummaryTemplate\ReportHealthCheck.xlsx"/>

      <add key="DBStorageToCheck" value="C"/>
      <!--<add key="ReportTemplate" value="D:\ReportHealthCheck.xlsx"/>-->


      <add key="HealthCheckSendEmailTime" value="18" />
      <add key="DevelopmentMode" value="True" />
      <add key="DeveloperModeEmail" value="arfan.pantua@eaciit.com" />
      <add key="LogEmail" value="D:\LogEmail.txt" />
      <add key="HealthCheckReceiverEmailRole" value="APP-SUPPORTS" />


    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>