
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File not found!</title>
    <script>
        function notfound() {
            alert("File not found!");
            history.back();
        }
        
    </script>
</head>
<body onload="notfound()">
</body>
</html>
