<style>
    .attr-col {
        margin: 110px 0 0;
        float: left;
        width: 200px;
        position: absolute;
        left: 0px;
        top: 0;
        z-index: 1;
    }

        .attr-col ul {
            background: #f4f4f4;
            font-weight: bold;
            font-size: 10px;
            border: 1px solid #d6d6d6;
            border-width: 1px 0px 1px 1px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

            .attr-col ul li {
                text-align: right;
                padding: 0 10px;
                border-bottom: 1px solid #d6d6d6;
                line-height: 45px;
                display: block;
            }

                .attr-col ul li.last {
                    border-bottom: none;
                }

    .pt-table {
        /*padding-left: 165px;*/
        display: block;
        position: relative;
        /*margin-left: 201px;*/
    }

    .pt-body {
        padding: 10px 0 0;
        margin-left: 200px;
    }

    .pt-rows li {
        display: block;
        overflow: hidden;
        background: #fff;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
        border-bottom: 1px solid #d9d9d9;
    }

        .pt-rows li span {
            width: 200px;
            text-align: center;
            float: left;
            border-right: 1px solid #d9d9d9;
            display: block;
            line-height: 45px;
            height: 45px;
        }

        .pt-rows li.title {
            background: rgb(208, 66, 66);
            font-size: 22px;
            color: #fff;
            font-weight: bold;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
            border-bottom: 2px solid #555;
            border-width: 0 0 2px;
        }

            .pt-rows li.title span {
                line-height: 50px;
                height: 50px;
                border: none;
                padding: 0 1px;
                text-shadow: 2px 2px #444;
            }

        .pt-rows li.fees {
            border-bottom: 1px solid #ccc;
        }

            .pt-rows li.fees span {
                line-height: 48px;
                height: 48px;
                background: #f7f7f7;
                font-size: 34px;
                font-weight: 700;
                font-family: Georgia, Arial, sans-serif;
                color: #4172a5;
                text-shadow: 2px 2px #fff;
            }

        .pt-rows li span.pt-yes {
            background: url(yes-no.gif) no-repeat center 12px;
        }

        .pt-rows li span.pt-no {
            background: url(yes-no.gif) no-repeat center -38px;
        }

        .pt-rows li.fin {
            border-bottom: 2px solid #d9d9d9;
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 85px;
        }

        .pt-rows li span.pt-3x {
            width: 72%;
            float: left;
            text-align: center;
            border: none;
        }

    .price-chart {
        position: relative;
    }
</style>


<script>
    model.MasterData = ko.observable({
        Periods: ko.observableArray(['']),
        MasterCols: ko.observableArray(['WEISActivities', 'WEISWellNames', 'WEISRigNames',
            'WEISAssetNames', 'WEISOperatingUnits', 'WEISPIPClassifications', 'WEISPIPThemes', 'WEISPerformanceUnits', 'WEISProjectNames',
            'WEISRegions', 'WEISRigTypes'
        ]),
        NumberOfDatas: ko.observable(1),
        Datas: ko.observableArray([
            { Coll: "WEISActivities", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISWellNames", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISRigNames", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISAssetNames", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISOperatingUnits", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISPIPClassifications", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISPIPThemes", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISPerformanceUnits", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISProjectNames", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISRegions", data: [0, 1, 2, 3, 4, 5, 6, 7] },
            { Coll: "WEISRigTypes", data: [0, 1, 2, 3, 4, 5, 6, 7] }
        ]),
        DetailData: ko.observableArray(),
        setTitle: ko.observable(),
        ShowDetailData: function (data, event) {
            model.IsProcessing(true);
            var col = event.currentTarget.attributes[2].value;
            var index = event.currentTarget.attributes[3].value;
            var date = jsonDate(model.MasterData().Periods()[index]);
            var url = "@Url.Action("GetDataDetailMaster")";
            var param = { parmDate: date, tableName: col }
            ajaxPost(url, param, function (res) {
                if (res.Result = "OK") {
                    model.MasterData().setTitle("Master " + col);
                    model.MasterData().DetailData(res.Data.DetailData);
                    model.VisibleMaster(false);
                    model.VisibleDetail(true);
                    model.IsProcessing(false);
                }
            }, function (a) { model.IsProcessing(false); })

        }
    });
    model.MasterData().LiWidth = ko.computed(function () {
        return model.MasterData().Periods().length * 200 + 5;
    });


</script>

<div class="col-md-12">
    <div class="price-chart">
        <div class="attr-col">
            <ul>
                <!-- ko foreach:model.MasterData().MasterCols -->
                <li data-bind="text:$data"></li>
                <!-- /ko -->
            </ul>
        </div>
        <div class="pt-table">
            <div class="pt-body" style="overflow-x:scroll">
                <ul class="pt-rows" style="padding:0px;">
                    <li class="title" data-bind="attr:{'style':'width:'+model.MasterData().LiWidth()+'px'}">
                        <!-- ko foreach:model.MasterData().Periods -->
                        <span data-bind="text:jsonDateStr($data)"></span>
                        <!-- /ko -->
                    </li>
                    <li class="fees" data-bind="attr:{'style':'width:'+model.MasterData().LiWidth()+'px'}">
                        <!-- ko foreach:model.MasterData().Periods -->
                        <span data-bind=""></span>
                        <!-- /ko -->
                    </li>
                    <!-- ko foreach:model.MasterData().Datas -->
                    <li data-bind="attr:{'style':'width:'+model.MasterData().LiWidth()+'px'}">
                        <!-- ko foreach:new Array(model.MasterData().Periods().length) -->
                        <span >
                            <a data-bind="text:Enumerable.From(model.MasterData().Datas()).FirstOrDefault(undefined,'$.Coll==\''+ $parent.Coll +'\'').data[$index()],attr:{Col1:$parent.Coll,Index:$index()},click:model.MasterData().ShowDetailData" style="cursor:pointer; font-size:small"></a>
                        </span>
                        @*<span data-bind="text:$parent.Coll"></span>*@
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</div>

