<script>
    model.groupwell = ko.observable({
        NumberOfPeriod: ko.observable(3),
        MasterCols: ko.observableArray(['Plan', 'LE']),
        Data: ko.observable([]),
        AllData: ko.observable([]),
        Detail: ko.observable(),
        LiWidth: ko.observable(1205),
        NumberOfDatas: ko.observable(1),
    });
    model.wellgroupcurrentpage = ko.observable(0);

    function SearchByWellInGroup() {
        var search = $("#search-well-well").data("kendoMultiSelect").value()
        model.IsProcessing(true);
        model.AnyWeeklyReport(true);
        model.getLastestUpdate();
        var x = model.parmFilter();
        var param = { parmResultType: x.parmStaticRollingType(), search: search,GroupBy:"WellName" };

        if (param.parmRolling == null || param.parmRolling < 1) param.parmRolling = 1;
        ajaxPost("@Url.Action("SearchDataGroupBy")", param, function (res) {
            if (res.Result == "OK") {
                model.groupwell().Data(res.Data.WellPlans);
                if (res.Data.Next) {
                    $("#nextbywell").removeAttr('disabled');
                } else {
                    $("#nextbywell").attr("disabled", "disabled")
                }
                $("#prevbywell").attr("disabled", "disabled")
            } else {
                //model.AnyDataMasterWellPlan(false);
                //model.AnyDataPIPBizPlan(false);
            }
            model.IsProcessing(false);
        }, function (res) {
            model.IsProcessing(false);
        });

    }
    model.WellGroupPagination = function (sign)
    {
        return function () {
            //model.IsProcessing(true);

            if (sign == "prev") {
                var current = model.wellgroupcurrentpage() - 1;
                if (current <= 0) {
                    model.wellgroupcurrentpage(0);
                    $("#prevbywell").attr("disabled", "disabled")
                } else {
                    model.wellgroupcurrentpage(current);
                    $("#prevbywell").removeAttr('disabled');
                }
            }else{
                var current = model.wellgroupcurrentpage() + 1;
                model.wellgroupcurrentpage(current);
                $("#prevbywell").removeAttr('disabled');
            }
            var param = { parmResultType: model.parmFilter().parmStaticRollingType(), skip: model.wellgroupcurrentpage(), EventsWellRig: "well", search: $("#search-well-well").data("kendoMultiSelect").value() };
            ajaxPost("@Url.Action("GetDataWellPlanPage")", param, function (res) {
                if (res.Result == "OK") {
                    model.AnyDataGroupByWellPlan(true);
                    //model.AnyDataGroupByRigPlan(true);
                    model.groupwell().Data(res.Data.WellPlans);
                    if (res.Data.Next) {
                        $("#nextbywell").removeAttr('disabled');
                    } else {
                        $("#nextbywell").attr("disabled", "disabled")
                    }
                } else {
                    model.AnyDataGroupByWellPlan(false);
                }
                
            }, function (res) {
                model.AnyDataGroupByWellPlan(false);
            });
        }

    }


</script>

<div class="row kontainer">
    <div class="col-md-12 no-space">
        <div class="row" data-bind="visible:!model.AnyDataGroupByWellPlan()">
            <div class="align_center" style="margin-top:20px">
                <h4 style="border:none;">No data found</h4>
            </div>
        </div>
        @*<span style=" cursor:pointer;margin-bottom:160px;margin-left:30%;width:100%;text-align:center;font-style:italic;">
            Details in this page not showing all details data, please click show all data if you want to show all
        </span>*@
        

        <div class="col-md-12" data-bind="visible:model.AnyDataGroupByWellPlan()">
            <div class="col-md-6">
                <div class="col-md-6" style="padding-left:0px;">
                    <select id="search-well-well" data-placeholder="Select wells ..." style="width: 100%;"></select>

                </div>
                <div class="col-md-2">
                    <button class="btn-sm btn btn-custom btn-primary" onclick="SearchByWellInGroup()">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>

            </div>
            @*<div class="col-md-2"><h4 data-bind="click:model.ExportToExcell('well'),attr:{id:'PrintingWell'}" style="cursor:pointer;margin-bottom:10px;width:100%" class="btn btn-sm btn-success">Export To Excell</h4></div>*@
            <div class="col-md-2"></div>
            @*<div class="col-md-2"></div>
            <div class="col-md-2"></div>*@
            <div class="col-md-2"><h4 data-bind="click:model.WellGroupPagination('prev')" id="prevbywell" style="cursor:pointer;margin-bottom:10px;width:100%" class="btn btn-sm btn-success">Previous</h4></div>
            <div class="col-md-2"><h4 data-bind="click:model.WellGroupPagination('next')" id="nextbywell" style="cursor:pointer;margin-bottom:10px;width:100%" class="btn btn-sm btn-success">Next</h4></div>

        </div>


        <div class="clearfix" style="margin-bottom:20px"></div>
        <div>
            <div class="section content">
                <div data-bind="foreach: model.groupwell().Data()" class="row data-container no-space">
                    <div class="each">
                        <h4 data-bind="text: kendo.format('{0:dd-MMM-yyyy}', jsonDate(Version))"></h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle; text-align: left;">Title</th>
                                    <th width="50" style="vertical-align: middle; text-align: right;">Days</th>
                                    <th width="80" style="vertical-align: middle; text-align: right; padding-bottom: 5px;">
                                        Cost<br />(US$ MM)
                                    </th>
                                </tr>
                            </thead>
                        </table>

                        <table class="table">
                            <tbody class="h">
                                <tr>
                                    <td colspan="4" class="title">
                                        <span class="h-status summary">Summary</span>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody class="b" data-bind="foreach: Items">
                                <tr>
                                    <td data-bind="text: Identifier == 'Current OP' ? 'OP 15':Identifier == 'Previous OP'?'OP 14':Identifier"></td>
                                    <td width="50" style="text-align: right;" data-bind="text: kendo.format('{0:N0}', Days)"></td>
                                    <td width="80" style="text-align: right;" data-bind="text: kendo.format('{0:N0}', Cost)"></td>
                                </tr>
                            </tbody>

                        </table>

                        @*<h4 style="cursor:pointer;margin-bottom:10px;width:100%" data-bind="click:model.ShowAll(jsonDate(Version),'WEISWellActivities_tr')" class="btn btn-sm btn-success">Show All Data</h4>@*onclick="alert('On Progress')"*@

                        <!--ko foreach: WellItems-->
                        <table class="table" data-bind="enable:Items.length< 10">
                            <tbody class="h">
                                <tr>
                                    <td colspan="4" class="title">
                                        <span class="h-status dtl" data-bind="text: WellName"></span>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody class="b" data-bind="foreach: Items">
                                <tr>
                                    <td data-bind="text: Identifier == 'Current OP' ? 'OP 15':Identifier == 'Previous OP'?'OP 14':Identifier"></td>
                                    <td width="50" style="text-align: right;" data-bind="text: kendo.format('{0:N0}', Days)"></td>
                                    <td width="80" style="text-align: right;" data-bind="text: kendo.format('{0:N0}', Cost)"></td>
                                </tr>
                            </tbody>

                        </table>
                        <!--/ko-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
